<ion-view view-title="{{title}}">
   <ion-content>
   		<ion-list>
    		<div class="item item-divider" ng-click="flipShowPersonalInfo()">
    			<i class="icon ion-ios-information-outline"></i>
		    	Personal Info
			</div>
		    <ion-item ng-show="showPersonalInfo">
			  	<div class="list">
				  <label class="item item-input">
				  	<span class="input-label">First Name</span>
				    <input ng-model="submitData.fName" type="text" placeholder="">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">Last Name</span>
				    <input ng-model="submitData.lName" type="text" placeholder="">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">D.O.B</span>
				  	<input ng-model="submitData.dob" placeholder="" class="textbox-n" type="text" onfocus=" (this.type='date')"  > 
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">S.I.N</span>
				    <input ng-model="submitData.sin" type="number" placeholder="S.I.N">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">Driver's License#</span>
				    <input ng-model="submitData.license" type="text" placeholder="Driver's License#">
				  </label>
				</div>
		    </ion-item>

		    <div class="item item-divider" ng-click="flipShowContactInfo()">
    			<i class="icon ion-ios-information-outline"></i>
		    	Contact Info
			</div>
		    <ion-item ng-show="showContactInfo">
			  	<div class="list">
				  <label class="item item-input">
				  	<span class="input-label">Email</span>
				    <input ng-model="submitData.email" type="email" placeholder="Email">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">Phone#</span>
				    <input ng-model="submitData.phone" type="number" placeholder="Phone#">
				  </label>
				  
				</div>
		    </ion-item>

		    
		    <div class="item item-divider" ng-click="flipShowAddressInfo()">
    			<i class="icon ion-ios-information-outline"></i>
		    	Address Info
			</div>
		    <ion-item ng-show="showAddressInfo">
			  	<div class="list">
				  <label class="item item-input">
				  	<span class="input-label">Unit #</span>
				    <input ng-model="submitData.unit" type="text" placeholder="">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">Street</span>
				    <input ng-model="submitData.streetAddress" type="text" placeholder="">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">City</span>
				    <input ng-model="submitData.city" type="text" placeholder="">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">State</span>
				    <input ng-model="submitData.state" type="text" placeholder="">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">Postal Code</span>
				    <input ng-model="submitData.postalCode" type="text" placeholder="">
				  </label>
				</div>
		    </ion-item>
		    
		    <div class="item item-divider" ng-click="flipShowLoginInfo()">
    			<i class="icon ion-log-in"></i>
		    	Login Info
			</div>
		    <ion-item ng-show="showLoginInfo">
			  	<div class="list">
				  <label class="item item-input">
				  	<span class="input-label">Username</span>
				    <input ng-model="submitData.username" type="text" placeholder="">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">Password</span>
				    <input ng-model="submitData.password" type="password" placeholder="">
				  </label>
				  <label class="item item-input">
				  	<span class="input-label">Re-Password</span>
				    <input ng-model="submitData.rePassword" type="password" placeholder="">
				  </label>
				</div>
		    </ion-item>

		</ion-list>

		<button ng-hide="editMode" ng-click="signUpDriver()" class="button button-full button-assertive">
		  	Sign Up Driver
		</button>

		<button ng-show="editMode" ng-click="saveEmployee()" class="button button-full button-balanced">
		  	Save !
		</button>
	</ion-content>
 </ion-view>