<div class="list">

  <label class="item item-input">
    <span class="input-label">Phone</span>
    <input ng-model="data.phone" type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Address</span>
    <input ng-model="data.address" type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">distance</span>
    <input ng-model="data.distance" type="number">
  </label>
  <label class="item item-input">
    <span class="input-label">Cost $</span>
    <input ng-model="data.cost" type="number">
  </label>

</div>