<ion-view view-title="{{title}}">
   <ion-content>

   	<div class="" ng-repeat="employee in allDriversArray">
	    <a class="item item-avatar" ng-click="editEmployee({{employee}})">
	      <img src="img/ironman.jpg">
	      <h2>{{employee.get("firstName")}} {{employee.get("lastName")}}</h2>
	      <p>{{employee.get("driverMobile")}}</p>
	    </a>
	</div>

   </ion-content>

   <ion-footer-bar class="bar-assertive">
		<div class="buttons">
			<button  class="button" ng-click="addEmployee()">
				Add New Employee
				<i class="icon ion-ios-plus-empty"></i>
			</button>
		</div>
	</ion-footer-bar>

</ion-view>