<ion-view view-title="{{title}}">
   <ion-content ng-controller="AppCtrl">
   		<div class="list card">

		  <div class="item item-avatar">
		    <img src="img/logo.svg">
		    <h2>Welcome..... {{currentUser.username}}</h2>
		    <p>{{day}}, {{currDate.month}} {{currDate.date}}</p>
		  </div>

		  <div class="item item-body">
		    <!-- <img class="full-image" src=""> -->
		    <p>
		      <b>
			      {{deliveries.length}} Deliveries Today<br>
			      {{pharmacyInfoMap.size}} Pharmacies Active Today<br>
			      <font ng-show="isAdmin">{{activeDriversMap.size}} Drivers Online Today<br></font>
			      <font ng-show="isAdmin" class="assertive">{{totalPending[0]}} Pending orders <font ng-show="isAdmin" >(${{totalPending[1]}})</font><br></font>
			      
			      <font ng-show="isAdmin" class="energized">{{totalInProgress[0]}} Pending pickups <font ng-show="isAdmin" >(${{totalInProgress[1]}})</font><br></font>
			      
			      <font ng-hide="isAdmin" class="assertive">{{totalInProgress[0]}} Pending pickups <font ng-show="isAdmin" >(${{totalInProgress[1]}})</font><br></font>

			      <font class="energized">{{totalPickupInProgress[0]}} In progress orders <font ng-show="isAdmin" >(${{totalPickupInProgress[1]}})</font><br></font> 

			      <font class="balanced"> {{totalCompleted[0]}} Completed orders <font ng-show="isAdmin" >(${{totalCompleted[1]}})</font><br></font> 
		      </b>
		    </p>
		    <p ng-show="isAdmin">
		      <a href="#" class="subdued">Transcript <i class="icon ion-pie-graph"></i> </a>
		      <a href="#" class="subdued">Email <i class="icon ion-ios-email"></i> </a>
		    </p>
		  </div>

		</div>

		<ion-list>
		    <ion-item ng-repeat="pharmacy in pharmacyOrdersArray">
		        <a class="item item-icon-left" ng-click="viewPharmacy(pharmacyUserMap.get(pharmacy.id),pharmacy)">
				    <i class="icon ion-ios-pulse-strong"></i>
				    	<b><p>{{pharmacyInfoMap.get(pharmacy.id).get("businessName")}}</p></b>
					<span ng-show="isAdmin" class="badge badge-assertive">{{pharmacy.pending.length}}</span>
					<span ng-hide="isAdmin" class="badge badge-assertive">{{pharmacy.inProgress.length}}</span>
				 </a>
		    </ion-item>
		</ion-list>
		

   </ion-content>
</ion-view>